head
  title Feedosphere

body
  .container
    h1 Feedosphere
    p RSS feed for Meteor packages at [atmosphere](https://atmospherejs.com/).  Just subscribe the following link using your favorite RSS reader.
    ul
      li
        a(href="{{feedUrl}}") {{feedUrl}}
