html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #002452;
  background-image: url(/background.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
}

a {
  color: #33ccff;
}

a:hover {
  color: #7ddeff;
}
